<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true">
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <!--redirection rules examples-->
                <rule name="1" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Developers+guide" />
                    <action type="Redirect" url="/developer/index.html" redirectType="Permanent" />
                </rule>
                <rule name="2" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256757" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/installing/technology-system-requirements.html" appendQueryString="false" redirectType="Permanent" />
                </rule>				
                <!--Ivan-->
		<!--Daria-->
		  <rule name="2000" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Configuring+your+store" />
                    <action type="Redirect" url="/user-guide/configuring/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2001" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/nopCommerce+Interface" />
                    <action type="Redirect" url="/user-guide/configuring/nopcommerce-interface.html" redirectType="Permanent" />
                </rule> 
		    <rule name="2002" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+your+store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2003" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+your+store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2004" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Main+Store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2005" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Multiple-Store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/multiple-store.html" redirectType="Permanent" />
                </rule>
		    <rule name="2006" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Countries" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/countries.html" redirectType="Permanent" />
                </rule>
		    <rule name="2007" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Languages" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/languages.html" redirectType="Permanent" />
                </rule>
		    <rule name="2008" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Security+Settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/security-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2009" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/PDF+settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/pdf-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2010" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/GDPR+settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/gdpr-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2011" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Payments" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2012" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Payment+Methods" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2013" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256619" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/manual-processing.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
		    <rule name="2014" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/PayPal+Standard" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/paypal-standard.html" redirectType="Permanent" />
                </rule>
		    <rule name="2015" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Purchase+order" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/purchase-order.html" redirectType="Permanent" />
                </rule>
		    <rule name="2016" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Square" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/square.html" redirectType="Permanent" />
                </rule>
		    <rule name="2017" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Qualpay" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/qualpay.html" redirectType="Permanent" />
                </rule>
		    <rule name="2018" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Payment+statuses" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/payment-statuses.html" redirectType="Permanent" />
                </rule>
		    <rule name="2019" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Payment+Method+Restrictions" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/payment-method-restrictions.html" redirectType="Permanent" />
                </rule>
		    <rule name="2020" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Currencies" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/currencies.html" redirectType="Permanent" />
                </rule>
		    <rule name="2021" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Tax" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2022" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Tax+Settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/tax-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2023" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Tax" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/tax/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2024" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Avalara+tax+provider" />
                    <action type="Redirect" url="user-guide/configuring/settingup/taxes/tax/methods/avalara.html" redirectType="Permanent" />
                </rule>
		    <rule name="2025" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256801" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/tax/methods/manual.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
		    <rule name="2026" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/EU+VAT+configuration+guide" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/eu-vat.html" redirectType="Permanent" />
                </rule>
		    
		    
		    
		    
		    
				<!--Maria-->

                <!-- redirect all not found pages (starting with /pages/viewpage.action and /display/) to the home page  -->
                <rule name="allotherpages" stopProcessing="true">
                    <match url="^(pages/viewpage\.action.*)|(display.*)$" />
                    <action type="Redirect" appendQueryString="false" url="/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
