<?xml version="1.0" encoding="UTF-8"?>
<!-- comment -->
<configuration>
    <system.web>
        <identity impersonate="false"/>
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true">
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <!--redirection rules examples-->
                <rule name="1" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Developers+guide" />
                    <action type="Redirect" url="/developer/index.html" redirectType="Permanent" />
                </rule>
                <rule name="2" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256757" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/installing/technology-system-requirements.html" appendQueryString="false" redirectType="Permanent" />
                </rule>				
                <!--Ivan-->
		<!--Daria-->
		  <rule name="2000" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Configuring+your+store" />
                    <action type="Redirect" url="/user-guide/configuring/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2001" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/nopCommerce+Interface" />
                    <action type="Redirect" url="/user-guide/configuring/nopcommerce-interface.html" redirectType="Permanent" />
                </rule> 
		    <rule name="2002" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+your+store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2003" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+your+store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2004" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Main+Store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2005" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Multiple-Store" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/multiple-store.html" redirectType="Permanent" />
                </rule>
		    <rule name="2006" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Countries" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/countries.html" redirectType="Permanent" />
                </rule>
		    <rule name="2007" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Languages" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/languages.html" redirectType="Permanent" />
                </rule>
		    <rule name="2008" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Security+Settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/security-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2009" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/PDF+settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/pdf-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2010" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/GDPR+settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/mainstore/gdpr-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2011" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Payments" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2012" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Payment+Methods" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2013" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256619" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/manual-processing.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
		    <rule name="2014" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/PayPal+Standard" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/paypal-standard.html" redirectType="Permanent" />
                </rule>
		    <rule name="2015" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Purchase+order" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/purchase-order.html" redirectType="Permanent" />
                </rule>
		    <rule name="2016" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Square" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/square.html" redirectType="Permanent" />
                </rule>
		    <rule name="2017" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Qualpay" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/methods/qualpay.html" redirectType="Permanent" />
                </rule>
		    <rule name="2018" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Payment+statuses" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/payment-statuses.html" redirectType="Permanent" />
                </rule>
		    <rule name="2019" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Payment+Method+Restrictions" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/payment-method-restrictions.html" redirectType="Permanent" />
                </rule>
		    <rule name="2020" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Currencies" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/payments/currencies.html" redirectType="Permanent" />
                </rule>
		    <rule name="2021" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Setting+up+Tax" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2022" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Tax+Settings" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/tax-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="2023" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Tax" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/tax/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="2024" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Avalara+tax+provider" />
                    <action type="Redirect" url="user-guide/configuring/settingup/taxes/tax/methods/avalara.html" redirectType="Permanent" />
                </rule>
		    <rule name="2025" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256801" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/tax/methods/manual.html" appendQueryString="false" redirectType="Permanent" />
                </rule>
		    <rule name="2026" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/EU+VAT+configuration+guide" />
                    <action type="Redirect" url="/user-guide/configuring/settingup/taxes/eu-vat.html" redirectType="Permanent" />
                </rule> 
		<!--Maria-->
		    <rule name="3001" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Running+your+store" />
                    <action type="Redirect" url="/user-guide/running/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3002" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Product+management" />
                    <action type="Redirect" url="/user-guide/running/product-management/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3003" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Categories" />
                    <action type="Redirect" url="/user-guide/running/product-management/categories.html" redirectType="Permanent" />
                </rule>
		    <rule name="3004" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Manufacturers" />
                    <action type="Redirect" url="/user-guide/running/product-management/manufacturers.html" redirectType="Permanent" />
                </rule>
		    <rule name="3005" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Attributes" />
                    <action type="Redirect" url="/user-guide/running/product-management/attributes/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3006" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Product+attributes" />
                    <action type="Redirect" url="/user-guide/running/product-management/attributes/product-attributes.html" redirectType="Permanent" />
                </rule>
		    <rule name="3007" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Specification+attributes" />
                    <action type="Redirect" url="/user-guide/running/product-management/attributes/specification-attributes.html" redirectType="Permanent" />
                </rule>
		    <rule name="3008" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Checkout+attributes" />
                    <action type="Redirect" url="/user-guide/running/product-management/attributes/checkout-attributes.html" redirectType="Permanent" />
                </rule>
		    <rule name="3009" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Products" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3010" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Adding+products" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/adding-products/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3011" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Grouped+product" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/adding-products/grouped-products.html" redirectType="Permanent" />
                </rule>
		    <rule name="3012" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Downloadable+product" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/adding-products/downloadable-products.html" redirectType="Permanent" />
                </rule>
		    </rule>
		    <rule name="3013" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Recurring+product" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/adding-products/recurring-product.html" redirectType="Permanent" />
                </rule>
		    <rule name="3014" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Rental+Product" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/adding-products/rental-products.html" redirectType="Permanent" />
                </rule>
		    <rule name="3015" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256674" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/running/product-management/products/import-export.html" appendQueryString="false" redirectType="Permanent" />
                </rule>	
		    <rule name="3016" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Product+tags" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/product-tags.html" redirectType="Permanent" />
                </rule>
		    <rule name="3017" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Product+reviews" />
                    <action type="Redirect" url="/user-guide/running/product-management/products/product-reviews.html" redirectType="Permanent" />
                </rule>
		    <rule name="3018" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Catalog+settings" />
                    <action type="Redirect" url="/user-guide/running/product-management/catalog-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="3019" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Order+management" />
                    <action type="Redirect" url="/user-guide/running/order-management/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3020" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Orders" />
                    <action type="Redirect" url="/user-guide/running/order-management/orders/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3021" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Order+Settings" />
                    <action type="Redirect" url="/user-guide/running/order-management/orders/order-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="3022" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Shopping+cart+settings" />
                    <action type="Redirect" url="/user-guide/running/order-management/orders/shopping-cart-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="3023" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Shipments" />
                    <action type="Redirect" url="/user-guide/running/order-management/shipments.html" redirectType="Permanent" />
                </rule>
		    <rule name="3024" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Return+Requests" />
                    <action type="Redirect" url="/user-guide/running/order-management/return-requests/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3025" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Return+request+settings" />
                    <action type="Redirect" url="/user-guide/running/order-management/return-requests/return-requests-settings.html" redirectType="Permanent" />
                </rule>
		    <rule name="3026" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Shopping+carts+and+wishlists" />
                    <action type="Redirect" url="/user-guide/running/order-management/shopping-carts-wishlists.html" redirectType="Permanent" />
                </rule>
		    <rule name="3027" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Inventory+management" />
                    <action type="Redirect" url="/user-guide/running/order-management/inventory-management.html" redirectType="Permanent" />
                </rule>
		    <rule name="3028" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Customer+management" />
                    <action type="Redirect" url="/user-guide/running/customer-management/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3029" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Customer+list" />
                    <action type="Redirect" url="/user-guide/running/customer-management/customer-list.html" redirectType="Permanent" />
                </rule>
		    <rule name="3030" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Online+Customers" />
                    <action type="Redirect" url="/user-guide/running/customer-management/online-customers.html" redirectType="Permanent" />
                </rule>
		    <rule name="3031" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Activity+Log" />
                    <action type="Redirect" url="/user-guide/running/customer-management/activity-log.html" redirectType="Permanent" />
                </rule>
		    <rule name="3032" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Reports" />
                    <action type="Redirect" url="/user-guide/running/reports/index.html" redirectType="Permanent" />
                </rule>
		    <rule name="3033" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Dashboard" />
                    <action type="Redirect" url="/user-guide/running/reports/dashboard.html" redirectType="Permanent" />
                </rule>
		    <rule name="3034" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Bestsellers+and+products+never+purchased" />
                    <action type="Redirect" url="/user-guide/running/reports/bestsellers-never-purchased.html" redirectType="Permanent" />
                </rule>
		    <rule name="3035" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Country+report" />
                    <action type="Redirect" url="/user-guide/running/reports/country-report.html" redirectType="Permanent" />
                </rule>
		    <rule name="3036" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Customer+reports" />
                    <action type="Redirect" url="/user-guide/running/reports/customer-reports.html" redirectType="Permanent" />
                </rule>
		    <rule name="3037" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Low+Stock+Reports" />
                    <action type="Redirect" url="/user-guide/running/reports/low-stock-reports.html" />
                </rule>
		    <rule name="3038" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Designer%27s+Guide" />
                    <action type="Redirect" url="/developer/design/index.html" />
                </rule>
		    <rule name="3039" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=1442505" />
                    </conditions>
                    <action type="Redirect" url="/developer/design/overview.html" appendQueryString="false" redirectType="Permanent" />
                </rule>	
		    <rule name="3040" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=1442507" />
                    </conditions>
                    <action type="Redirect" url="/developer/design/installing-theme.html" appendQueryString="false" redirectType="Permanent" />
                </rule>	
		    <rule name="3041" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=1442509" />
                    </conditions>
                    <action type="Redirect" url="/developer/design/new-theme.html" appendQueryString="false" redirectType="Permanent" />
                </rule>	
		    <rule name="3042" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=1442511" />
                    </conditions>
                    <action type="Redirect" url="/developer/design/understanding-layout.html" appendQueryString="false" redirectType="Permanent" />
                </rule>	
		    <rule name="3043" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Customizing+nopCommerce+Themes" />
                    <action type="Redirect" url="/developer/design/customizing-theme.html" />
                </rule>
		    <rule name="3044" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Right+To+Left+Theme" />
                    <action type="Redirect" url="/developer/design/right-to-left-theme.html" />
                </rule>
		    <rule name="3045" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=1442517" />
                    </conditions>
                    <action type="Redirect" url="/developer/design/widgets.html" appendQueryString="false" redirectType="Permanent" />
                </rule>	
		    <rule name="3046" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Responsive+Design" />
                    <action type="Redirect" url="/developer/design/responsive.html" />
                </rule>
		    <rule name="3047" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Tips+and+Tricks" />
                    <action type="Redirect" url="/developer/design/tips-and-tricks.html" />
                </rule>
		    <rule name="3047" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Contributing+a+Theme" />
                    <action type="Redirect" url="/developer/design/contributing-theme.html" />
                </rule>
                <!-- redirect all not found pages (starting with /pages/viewpage.action and /display/) to the home page  -->
                <rule name="allotherpages" stopProcessing="true">
                    <match url="^(pages/viewpage\.action.*)|(display.*)$" />
                    <action type="Redirect" appendQueryString="false" url="/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
