<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true">
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <!--redirection rules examples-->
                <rule name="1" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="display/en/Developers+guide" />
                    <action type="Redirect" url="/developer/index.html" redirectType="Permanent" />
                </rule>
                <rule name="2" stopProcessing="true">
                    <match url="pages/viewpage\.action" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="pageId=10256757" />
                    </conditions>
                    <action type="Redirect" url="/user-guide/installing/technology-system-requirements.html" appendQueryString="false" redirectType="Permanent" />
                </rule>				
                <!--Ivan-->
				<!--Daria-->
				<!--Maria-->

                <!-- redirect all not found pages (starting with /pages/viewpage.action and /display/) to the home page  -->
                <rule name="allotherpages" stopProcessing="true">
                    <match url="^(pages/viewpage\.action.*)|(display.*)$" />
                    <action type="Redirect" appendQueryString="false" url="/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
